% -*- mode: erlang -*-
{deps, [{meck, ".*",
         {git, "git://github.com/skystack/meck.git", ""}},
        {amqp_client, ".*",
         {git, "git://github.com/skystack/amqp_client.git", ""}},
%        {rabbit_common, ".*", {git, "git://github.com/skystack/rabbit_common.git", "HEAD"}},
         {rabbit_common, ".*", {git, "https://github.com/skystack/rabbit_common.git", "community"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
